.FieldImage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
}

.ImagePreview{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: solid #ccc 1px;
    margin: 10px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImagePreview img{
    height: 80px;
    width: auto;
}

.ChangeImage{
    font-size: 0.7em;
    color: blue;
    cursor: pointer;
}