* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: #000;
  color:#fff;
  font-family: var(--primary-font), serif;
}

a{
  text-decoration: none;
  color:#fff;
}

@media only screen and (min-width: 599px) {
  .container{
    padding: 0 40px;
  }
}