/*GRID CSS*/
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container-full {
    width: 100%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.row.content-h,
.col.content-h {
    flex-direction: row;
}

.row.justify-start {
    justify-content: start;
}

.row.justify-center {
    justify-content: center;
}

.d-flex{
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.col.justify-center {
    justify-content: center;
}

.col.justify-end {
    justify-content: flex-end;
}

.col.align-bottom {
    align-items: flex-end;
}

.col-1 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33%;
}

.col-2 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6%;
}

.col-3 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33%;
}

.col-5 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.6%;
}

.col-6 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33%;
}

.col-8 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.6%;
}

.col-9 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.3%;
}

.col-11 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.6%;
}

.col-12 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}

.img-fluid {
    width: 100%;
}

@media only screen and (max-width: 599px) {
    .hide-xs {
        display: none !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .hide-sm {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hide-md {
        display: none !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hide-lg {
        display: none !important;
    }
}

@media only screen and (min-width: 1200px) {
    .hide-xl {
        display: none !important;
    }
}

@media only screen and (min-width: 600px) {
    .col-sm-1 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.33%;
    }

    .col-sm-2 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6%;
    }

    .col-sm-3 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33%;
    }

    .col-sm-5 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6%;
    }

    .col-sm-6 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.33%;
    }

    .col-sm-8 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6%;
    }

    .col-sm-9 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3%;
    }

    .col-sm-11 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6%;
    }

    .col-sm-12 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-md-1 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.33%;
    }

    .col-md-2 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6%;
    }

    .col-md-3 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33%;
    }

    .col-md-5 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6%;
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.33%;
    }

    .col-md-8 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6%;
    }

    .col-md-9 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3%;
    }

    .col-md-11 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6%;
    }

    .col-md-12 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .col-lg-1 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.33%;
    }

    .col-lg-2 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6%;
    }

    .col-lg-3 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33%;
    }

    .col-lg-5 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6%;
    }

    .col-lg-6 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.33%;
    }

    .col-lg-8 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6%;
    }

    .col-lg-9 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3%;
    }

    .col-lg-11 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6%;
    }

    .col-lg-12 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .col-xl-1 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.33%;
    }

    .col-xl-2 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6%;
    }

    .col-xl-3 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xl-4 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33%;
    }

    .col-xl-5 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6%;
    }

    .col-xl-6 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xl-7 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.33%;
    }

    .col-xl-8 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6%;
    }

    .col-xl-9 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xl-10 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3%;
    }

    .col-xl-11 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6%;
    }

    .col-xl-12 {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}