.LayoutWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    overflow: scroll;
}

.centerWrapper{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.body{
    width: calc(100% - 300px);
    height: 100%;
    padding: 20px;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .body{
        width: calc(100% - 64px);
        min-width: 240px;
    }
}