.Organizations{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Filter{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin: 60px 0 20px 0;
}

.FilterSelect{
    width: 200px;
}

.FilterOrder{
    width: 200px;
}

.Title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
}

.Actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
}

.SkeletonTitle{
    width: 220px;
    height: 40px;
    border-radius: 10px;
}

.SkeletonMenu{
    width: 80px;
    height: 40px;
    border-radius: 10px;
}

.Collections{
    width: 100%;
    min-height: 50vh;
    position: relative;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    gap:10px;
    flex-wrap: wrap;
}

.NoCollections{
    width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.NoCollections p{
    font-size: 16px;
    font-weight: 500;
}

.SubCard{
    width: 30%;
    height: fit-content;
    cursor: pointer;
    position: relative;
}

.SubCardHeader{
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.SubCardBody{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.CardIcon{
    background-color: rgb(138, 152, 255);
    color: #fff;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
}

.SubCardRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0;
}

.SubCardName{
    font-size: 14px;
    font-weight: 500;
}

.SubCardType{
    font-size: 12px;
    font-weight: 400;
}