.SideBar{
    background-color: #171717;
    width: 300px;
    height: 100%;
    padding: 20px 5px 20px 20px;
}


/**
Theme Dark
*/ 

.SideBar.dark{
    background-color: var(--color-black);
    border-right: solid 1px #6c6c6c;
}


/**
Theme Light
*/

.SideBar.light{
    background-color: var(--color-white);
    border-right: solid 1px var(--color-gray);
}